*{
    font-family: monospace;
    font-size: 15px;
}
a{
    text-decoration: none;
}body{

    margin: 0;
    background-color: #f1f1f1;
}
    header{
    background-color: #2196F3;
    height: 100vh;
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(63, 63, 148);
    font-size: 4rem;
}
header h1{
    margin-top: 0px;
    color: white;
}
.button{
    margin: 10px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
}
.button:hover{
    color: white;
    background-color:  #5b7d99;

}
main{
    
    padding: 20px;
}
section{
    height: 100vh;
    border: 1px solid black;
    border-radius: 15px;
    
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit{
    height: 40px;
    width: 140px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 40%;
    cursor: pointer;
    background-color: #48abfc;
}
.submit:hover{
    
    background-color: #0089fa;
}
input{
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
}
footer{
    background-color: black;
    color: grey;
    height: 150px;
}
.linkedin{
    background-color: #230cb4;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
}

.linkedin:hover{
    color: white;
    background-color:  #1c04f4;

}
